.trStyle {
    background-color: #bfbfbf!important;
}
.trStyle > th {
    text-align: center;
    text-transform: capitalize;
}

.tableWrapper {
    padding: 40px;
}
.sortTh:hover{
    cursor: pointer;
    color: #75a3a3;
}
.sortTh > i {
    margin-left: 5px;
}