.formBody > input{
    height: 30px;
    margin: 5px;
    padding-left: 10px;
    border: 1px solid grey;
}
.formBody > button {
    height: 30px;
    margin: 5px;
    margin-bottom: 7px;
    border-radius: 0;
    border: 1px solid grey;
}
.formBody > button > i {
    margin-left: 5px;
    color: green;
}